@import 'app/theme.scss';

.calendarButton {
  width: 312px;

  &.inactive {
    width: 54px;
    background: none;

    &:hover {
      background: $lightPurple;
    }

    .iconHolder {
      svg {
        color: $purple;

        path {
          stroke: $purple;
        }
      }
    }
  }

  &:hover {
    height: auto;
    max-height: 560px;

    &.inactive {
      height: 54px;
      max-height: 54px;
    }
  }

  .calendarHolder {
    width: 100%;
    height: auto;
  }

  .labelHolder {
    padding: 15px 0 0 8px;

    input {
      outline: none;
      border: none;
      background: none;
      color: #fff;
      font-family: unset;
      font-size: 15px;

      &::-webkit-calendar-picker-indicator {
        filter: invert(1);
      }
    }
  }
}