@import 'app/theme.scss';

.header {
  position: fixed;
  width: 100%;
  height: 36px;
  background: $purple;
  z-index: 100;
  box-shadow: 0px 4px 14px #0001;
  display: flex;

  .logoHolder {
    width: 50%;

    .logo {
      width: auto;
      height: 36px;

      &.logoMd {
        display: none;
      }
    }
  }

  .headerItemsHolder {
    width: 50%;
  }
}

@media only screen and (min-width: 768px) {
  .header {
    height: 64px;
    border-bottom: 1px solid #0002;

    &.clear {
      background: #0000;
      box-shadow: none;
      border: none;

      .logoHolder {
        .logo {
          margin: 28px;
        }
      }
    }

    .logoHolder {
      .logo {
        margin: 8px 16px;
        width: auto;
        height: 48px;
        filter: grayscale(1) brightness(100);

        &.logoSm {
          display: none;
        }

        &.logoMd {
          display: inline;
        }
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  .header {
    // background: $white;

    &.clear {
      .logoHolder {
        .logo {
          filter: grayscale(1) brightness(100);
        }
      }
    }

    // .logoHolder {
    //   .logo {
    //     filter: none;
    //   }
    // }

  }
}