@import 'app/theme.scss';

.filterHolder {
  width: 100%;
  margin: 20px 0;
  display: flex;
  justify-content: center;

  .filterOption {
    cursor: pointer;
    width: 106px;
    font-weight: bold;

    .pill {
      margin: 0 auto;
      text-align: center;
      padding-left: 12px;
      padding-right: 0px;
      color: $purple;

      &.selected {
        color: $white;
      }
    }
  }
}