.sm {
  display: block;
}

.md {
  display: none;

  &.sm {
    display: block;
  }
}

.lg {
  display: none;

  &.sm {
    display: block;
  }
}

.xl {
  display: none;

  &.sm {
    display: block;
  }
}

@media only screen and (min-width: 580px) {
  .sm {
    display: none;
  }

  .md {
    display: block;
  }
}


@media only screen and (min-width: 768px) {
  .md {
    display: none;

    &.sm {
      display: none;
    }
  }

  .lg {
    display: block;
  }
}

@media only screen and (min-width: 1024px) {
  .lg {
    display: none;
  }

  .xl {
    display: block;
  }
}