.nub {
  width: 32px;
  height: 32px;
  background: #0001;
  border-radius: 18px;
  transition: background 0.2s;
  cursor: pointer;

  svg {
    color: #0006;
    height: 18px;
    width: 18px;
    margin: 7px;

    path {
      stroke: #0006;
    }
  }

  &:hover {
    background: #0002;
  }
}