@import 'app/theme.scss';

.pill {
  height: 32px;
  background: #0001;
  border-radius: 18px;
  transition: background 0.2s;
  color: $white;
  display: flex;
  width: fit-content;

  &.hoverable {
    cursor: pointer;

    &:hover {
      background: $lightPurple;
    }
  }

  &.hoverRevealLabel {
    .labelHolder {
      width: 0;
      max-width: 0;
      overflow: hidden;
      padding: 0;
      transition: max-width 0.4s;
    }

    &:hover {
      .labelHolder {
        width: auto;
        max-width: 200px;
        padding: 8px 16px 0 4px;
        white-space: nowrap;
      }
    }
  }

  &.none {
    background: none;

    &:hover {
      .iconHolder {
        svg {
          color: $purple;

          path {
            stroke: $purple;
          }
        }
      }
    }
  }

  &.purple {
    background: $purple;

    .iconHolder {

      svg {
        color: $white;

        path {
          stroke: $white;
        }
      }
    }
  }

  &.grey {
    background: $grey;

    .iconHolder {
      svg {
        color: $white;

        path {
          stroke: $white;
        }
      }
    }

    &:hover {
      background: $grey;
    }
  }

  &.white {
    background: $white;
    color: $purple;

    &:hover {
      .iconHolder {
        svg {
          color: $purple;

          path {
            stroke: $purple;
          }
        }
      }
    }

    .iconHolder {
      svg {
        color: $grey;

        path {
          stroke: $grey;
        }
      }
    }

  }

  &.iconColor-purple {
    .iconHolder {
      svg {
        color: $purple;

        path {
          stroke: $purple;
        }
      }
    }
  }

  &.iconColor-white {
    .iconHolder {
      svg {
        color: $white;

        path {
          stroke: $white;
        }
      }
    }
  }

  .iconHolder {
    width: 32px;

    svg {
      color: #0006;
      height: 18px;
      width: 18px;
      margin: 7px;

      path {
        stroke: #0006;
      }
    }
  }

  .labelHolder {
    font-size: 14px;
    padding: 8px 16px 0 4px;
  }

}