@import 'app/theme.scss';

.background {
  width: 100%;
  height: 100%;
  position: absolute;
  background-position: center !important;
  background-size: cover !important;
  opacity: 0.1;
  z-index: -1;
  pointer-events: none;
  transition: background 0.2s;
}