@import 'app/theme.scss';

.button {
  display: flex;
  height: 54px;
  max-height: 54px;
  background: $purple;
  border-radius: 28px;
  transition: background 0.2s, width 0.2s, max-height 0.2s;
  user-select: none;
  overflow: hidden;
  width: fit-content;

  &.secondary {
    background: none;

    &:hover {
      background: $lightPurple;
    }

    .iconHolder {
      svg {
        color: $purple;

        path {
          stroke: $purple;
        }
      }
    }
  }

  &.disabled {
    pointer-events: none;
    background: none;

    .iconHolder {
      cursor: default;

      svg {
        color: $grey1;

        path {
          stroke: $grey1;
        }
      }
    }

    .labelHolder {
      cursor: default;
    }
  }

  &:hover {
    background: $darkPurple;

    &.disabled {
      cursor: default;
      background: none;
    }
  }

  .iconHolder {
    cursor: pointer;
    width: 54px;
    height: 54px;

    svg {
      color: $white;
      height: 28px;
      width: 28px;
      margin: 13px;

      path {
        stroke: $white;
      }
    }
  }

  .labelHolder {
    cursor: pointer;
    padding: 16px 16px 0 8px;
    font-size: 20px;
    color: $white;
  }
}