.tweetHolder {
  width: calc(100% - 8px);
  height: fit-content;
  padding: 4px;

  &:last-of-type {
    margin-bottom: 8px;
  }

  .tweet {
    width: 100%;
    background: #fff;
    border: 1px solid #0002;
    border-radius: 6px;

    .bodyHolder {
      margin: 0 20px;
      width: calc(100% - 40px);
      height: 80px;

      .body {
        border-bottom: 1px solid #0002;
        height: calc(100% - 12px);
        padding: 8px 0 4px;
      }
    }

    .actionRow {
      height: 48px;
      margin: 0 20px;
      width: calc(100% - 40px);
      display: flex;

      .labelHolder {
        width: 180px;
        padding-top: 8px;
      }

      .nubHolder {
        height: 100%;
        width: calc(100% - 180px);
        display: flex;
        justify-content: right;

        .nub {
          margin: 8px 0 0 16px;
        }
      }
    }
  }
}