.tweetHolder {
  width: calc(100% - 8px);
  height: fit-content;
  padding: 4px;

  &:last-of-type {
    margin-bottom: 8px;
  }

  .tweet {
    width: 100%;
    background: #fff;
    border: 1px solid #0002;
    border-radius: 6px;
    max-height: 400px; // TODO: max body contain max height
    transition: transform 0.4s, max-height 0.4s, opacity 0.4s;

    &.editAnimation {
      transform: translate(-100%);
      opacity: 0;
    }

    &.removeAnimation {
      max-height: 0px;
      opacity: 0;
    }

    &.sendAnimation {
      transform: translate(100%);
      opacity: 0;
    }

    .dateHolderSmall {
      width: 100%;
      padding: 6px;
    }

    .bodyHolder {
      margin: 0 6px;
      width: calc(100% - 12px);
      height: fit-content;

      .body {
        border-bottom: 1px solid #0002;
        min-height: 80px;
        padding: 8px;
      }
    }

    .actionRow {
      height: 48px;
      margin: 0 6px;
      width: calc(100% - 12px);
      display: flex;

      .labelHolder {
        width: 180px;
        padding-top: 8px;
      }

      .nubHolder {
        height: 100%;
        width: calc(100% - 180px);
        display: flex;
        justify-content: right;

        .nub {
          margin: 8px 0 0 16px;
        }
      }
    }
  }
}