.libraryContainer {
  width: calc(100% - 8px);
  height: 100%;
  padding: 4px;
  overflow-x: scroll;

  .placeholder {
    text-align: center;
    width: 100%;
    color: #0004;
    padding: 20px 0;
  }
}