// theme
$purple: #562fd8;
$darkPurple: #3514a4;
$lightPurple: #dfd5ff;
$backgroundColor: #ecedff;
$grey: #657899;

// grey scale
$black: #1c1c1c;
$grey1: #0006;
$grey2: #0004;
$grey3: #0002;
$white: #fff;

// twitter
$twitter: #1c9cef;
$twitterDark: #117fc9;

// util
$error: #ef1c1c;