@import 'app/theme.scss';

.container {
  margin-top: 36px;
  position: absolute;
  width: 100%;
  min-height: calc(100% - 64px);

  .containerLeft {
    width: 100%;
    background: #fff;
    height: fit-content;
  }

  .containerRight {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    margin-top: 64px;
  }
}

@media only screen and (min-width: 1024px) {
  .container {
    margin-top: 64px;
    height: calc(100% - 64px);
    position: fixed;
    display: flex;

    .containerLeft {
      height: 100%;
      max-width: 680px;
      width: calc(62% - 1px);
      border-right: 1px solid #0002;
      background: $white;
    }

    .containerRight {
      height: 100%;
      min-width: 38%;
      width: calc(100% - 681px);
    }
  }
}