@import 'app/theme.scss';

.container {
  margin-top: 64px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  position: absolute;
  width: 100%;
  min-height: calc(100% - 64px);

  .containerLeft {
    width: 100%;
  }

  .containerRight {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    height: calc(100% - 64px);
    position: fixed;

    .containerLeft {
      height: 100%;
      width: calc(42% - 1px);
      border-right: 1px solid #0002;
      background: $white;
    }

    .containerRight {
      height: 100%;
      width: 58%;
    }
  }
}